.gradient-text {
  font-size: 60px;
  line-height: 1.6;
  background: -webkit-linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
