html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
section[id] {
  scroll-margin-top: 30px;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
